* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #57e8f0,
    #66dfff,
    #92d2ff,
    #bdc4ff,
    #dcb7ea,
    #f0b3d9,
    #fbb1c6,
    #ffb3b3,
    #ffbca4,
    #ffca94,
    #ffdc87,
    #f9f184
  );
  min-height: 100vh;
}

.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.game__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.game__header h1 {
  font-size: 3rem;
  font-family:'Pokemon Solid', sans-serif;
  color: #FECB04;
  text-shadow: 2px 0 0 #3A5DA8,0 1px 0 #3A5DA8,-1px 0 0 #3A5DA8,0 -1px 0 #3A5DA8;
  -webkit-text-stroke: 2px #3A5DA8;
}

.game__header--timer-container {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.game__header--timer-container p {
  font-weight: 600;
}

#gameBoard{
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  grid-gap: 1rem;
  background: rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 16px;
  text-align: center;
  
} 

#startGameButton {
  padding: 0.3rem;
  background-color: yellow;
  border: 3px #3A5DA8 solid;
  width: 10rem;
  font-size: 1.5rem;
}

/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
